@use '../../../styles.scss' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: $bg-card;
  padding: 32px;
  border-radius: 8px;
  max-width: 480px;
  width: 90%;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.10004);
}

.modal-title {
  @include text-heading;
  margin-bottom: 8px;
}

.modal-message {
  @include text-body;
  color: $secondary-gray;
  line-height: 24px;
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  button{
    @include text-subheading-small;
    height: 48px;
    color: $bg-card;

  }
  .ms{
    color: $secondary-blue-medium;
  }
}


