<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <div class="header__logo-wrapper">
        <img src="assets/logo.svg" alt="logo" class="header__logo-image" />
      <div class="header__logo-wrapper-sub"></div>
      </div>
      <div class="header__theme-toggle">
        <button>
          <img src="assets/icon-moon.svg" alt="moon icon" class="header__icon header__icon--moon" />
          <img src="assets/icon-sun.svg" alt="sun icon" class="header__icon header__icon--sun" />
        </button>
      </div>
    </div>
    <div class="header__hr"></div>
    <div class="header__avatar">
      <img src="assets/image-avatar.jpg" alt="avatar" class="header__avatar-image" />
    </div>
  </div>
</header>
