<aside class="aside">
  <div class="aside__container">
    <div class="aside__logo">
      <div class="aside__logo-wrapper">
        <img src="assets/logo.svg" alt="logo" class="aside__logo-image" />
        <div class="aside__logo-wrapper-sub"></div>
      </div>
    </div>
    <div class="aside__bottom-group">
      <div class="aside__theme-toggle">
        <button>
          <img src="assets/icon-moon.svg" alt="moon icon" class="aside__icon aside__icon--moon" />
          <img src="assets/icon-sun.svg" alt="sun icon" class="aside__icon aside__icon--sun" />
        </button>
      </div>
      <div class="header__hr"></div>
      <div class="aside__avatar">
        <img src="assets/image-avatar.jpg" alt="avatar" class="aside__avatar-image" />
      </div>
    </div>
  </div>
</aside>
